.card {
  border-radius: var(--main-border-radius);
  position: relative;
  display: flex;
  padding-left: 15px;
}

.forecastBox {
  border-radius: var(--main-border-radius);
  -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-image: var(--bg-color--card--forecast);
  color: var(--main-text-color);
  width: 100%;
  max-width: 675px;
  min-height: 300px;
}
