:root {
  --gradient: linear-gradient(to right bottom, #7dd56f, #28b487);
  /* linear-gradient(to right bottom, #7dd56f, #28b487); linear-gradient(135deg, #72edf2 10%, #5151e5 100%); */
  --bg-color: #475770cc;
  --bg-color--card: linear-gradient(to right bottom, #7dd56fe8, #28b487e8);
  --bg-color--card--forecast: linear-gradient(
    to right bottom,
    #7dd56f,
    #28b488
  );

  /*#222831; #cbffbeeb */

  --main-text-color: #ffffff;

  --main-border-radius: 25px;
  --secondary-border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1614089488334-c6b32ea5326f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: var(--bg-color); */
  color: var(--main-text-color);
}
